footer{
    background-color: #A2F798;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

#derechos{
    font-family: Inika-Bold;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}

#contenedorflogo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#contenedorflogo img {
    max-width: 100px;
}