footer{
display: flex;
background-color: #A2F798;
align-items: center;
width: 100;
height: 50px;
border-radius: 15px;
padding: 15px;
position: relative;
top:80px;
}

#derechos{
font-family: Inika-Bold;
color: #fff;
font-size: 30px;
text-shadow: 5px 5px 5px #000;
position: relative;
left: 85px;
}
#contenedorflogo{
display:flex;
align-items: center;
background-color:#A2F798 ;
width: 60px;
height: 65px;
border: 1px #fff solid;
position: relative;
border-radius: 5px;
right: 450px;
box-shadow: 2px 2px 2px 2px #000;


}
#flogo {
    width: 43px;
    height: 60px;
    border-radius: 15%;
    position: relative;
    left:10px;
}
