footer {

    background-color: #A2F798;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#derechos {

    font-family: Inika-Bold;
    color: #fff;
    font-size: 18px;
}

#contenedorflogo {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#contenedorflogo img {

    width: 17px;
}