header {
    text-align: center;
    background-color: #A2F798;
    padding: 20px;
    border-radius: 10px;
}
@font-face {
    font-family: "Inika-Bold";
    src: url('../font/Inika/Inika-Bold.ttf');
    font-weight: normal;
}
#aboutus {
    color: #fff;
    font-family: Inika-Bold;
    font-size: 36px;
    text-align: center;
}