header {
    display: flex;
    align-items: center;
    width: 100;
    height: 50px;
    background-color: #A2F798;
    border-radius: 15px;
    padding: 15px;
}
@font-face {
    font-family: "Inika-Bold";
    src: url('../font/Inika/Inika-Bold.ttf');
    font-weight: normal;
}
#aboutus {
    color: #fff;
    font-family: Inika-Bold;
    font-size: 30px;
    text-shadow: 5px 5px 5px #000;
}