body {
    background-color: #526755;
}

#logopa {
    max-width: 100%;
    margin: 20px auto;
    text-align: center;
    height: auto;
}

#logopa img {
    width: 300px;
    height: auto;
}

#logopa p {
    font-size: 45px;
}

@font-face {
    font-family: "Kodchasan-Bold";
    src: url('../font/Kodchasan/Kodchasan-Bold.ttf');
    font-weight: normal;
}

#titulo {
    font-family: Kodchasan-Bold;
    color: #fff;
    font-size: 24px;
}

@font-face {
    font-family: "JejuGothic";
    src: url("../font/JejuGothic/jejugothic/JejuGothic-Regular.ttf");
    font-weight: normal;
}


#contenedormision, #contenedorvision {
    margin-top: 20px;
}

#mision, #vision{
    font-family: JejuGothic;
    color: #fff;
    background-color: #A2F798;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#miembros {
    color: #fff;
    margin-top: 40px;
    font-family: Kodchasan-Bold;
    font-size: 28px;
    text-align: center;
}

#contenedormiembros h1 {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: white;
}

#contenedormiembros img{
    max-width: 100px;
    margin: 10px auto;
    display: block;
    border-radius: 50%;
    height: auto;
}

#contenedormiembros .col-sm-6 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    position: relative;
    margin: 10px auto;
}