#leyendas {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#leyendas span {

    width: 50%;
    text-align: center;
    text-align: center;
    color: #00d335;
    font-size: 1.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    letter-spacing: 2px;
}

#continactividades {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.inactividad {

    width: 100%;
    height: 150px;
    background-color: #7CB9E8;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: 3px solid rgba(0, 0, 0, .2);
    transition-duration: .3s;
    cursor: pointer;
    position: relative;
}

.inactividad > div {

    background-color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .2rem;
}

.inactividad > .desde {

    width: 50%;
    border-radius: 20px 0 0 20px;
}

.inactividad > .hasta {

    width: 50%;
    border-radius: 0 20px 20px 0;
}

.inactividad span {

    text-align: center;
    color: #00B2FF;
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 5px;
}

.inactividad hr {

    margin: 0 !important;
    width: 100%;
    border: 1px solid #7CB9E8;
    opacity: 1 !important;
}

.inactividad:hover {

    border: 3px solid #0AF0AB;
}

#agregarinactividadcont {

    position: relative;
}

#agregarinactividad {

    height: 120px;
    width: 120px;
    background-color: #00c388;
    border-radius: 100%;
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, .3);
    transition-duration: .3s;
    cursor: pointer;
}

#agregarinactividad .mas {

    width: 100%;
    height: 100%;
    background-color: rgb(235, 235, 235);
    clip-path: polygon(45% 0%, 55% 0%, 55% 45%, 100% 45%, 100% 55%, 55% 55%, 55% 100%, 45% 100%, 45% 55%, 0% 55%, 0% 45%, 45% 45%);
}

#agregarinactividad:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

#agregarinactividad:active {

    scale: 0.95;
    filter: brightness(1.2);
}

#noinactividades {

    margin-top: 1rem;
    color: #00d335;
    text-align: center;
}

#contagregarinactividad {
    
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: rgb(96, 246, 255, .1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}

#contagregarinactividad > div {

    width: 100%;
}

#contagregarinactividad label {

    text-align: center;
    width: 100%;
}

#confirmarinactividad {

    background-color: #4294FF;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
    transition-duration: .3s;
}

#confirmarinactividad.inactivo {

    background-color: rgb(66, 148, 255, .4);
}

#confirmarinactividad.activo:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

#confirmarinactividad.activo:active {

    scale: .97;
    filter: brightness(1.2);
}

#leyendas span, #contagregarinactividad label {

    text-align: center;
    text-align: center;
    color: #00d335;
    font-size: 1.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    letter-spacing: 2px;
}

#eliminarinactividad {

    position: absolute;
    right: 0;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 30px;
    padding: 2.2rem;
    transition-duration: .3s;
    cursor: pointer;
}

#eliminarinactividad:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

#eliminarinactividad:active {

    scale: .97;
    filter: brightness(1.2);
}

#eliminarinactividad svg {

    height: fit-content;
    width: unset;
}

.inactividad .tachito {

    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    background-color: red;
    border-radius: 0 18px 18px 0;
    transition-duration: .3s;
}

.inactividad .tachito.invisible {

    display: none;
}

.inactividad .tachito:hover {

    width: 100px;
}