#confirmardatos {  

    width: 100%;
    height: 100%;
    color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25), -2px -4px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
    position: relative;
}

#pasocontainer {

    height: 80% !important;
}

main {

    gap: 1.2rem !important;
}

#formbody {

    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
    padding-top: 15px;
    padding-bottom: 1rem;
}

#formheader {

    width: 100%;
    background-color: #0059CD;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detallescontainer {

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#detalles {

    width: 90%;
    box-shadow: 0 0 4px black;
    border-radius: 10px;
    padding: 1.5rem;
}

#detalles .campo {

    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
}

#detalles .clave {

    background-color: #05e5a2;
    padding: 0.6rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    font-size: 1.5rem;
    font-weight: 800;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

#detalles .valor {

    background-color: #00B2FF;
    padding: 1rem;  
    border-radius: 0 0 10px 10px;
    text-align: center;
    width: 100%;
    border: 2px solid rgba(0, 0, 0, .15);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    font-size: 1.5rem;
}

#detalles .fecha .valor {

    letter-spacing: 4px;
}

#detalles .hora .valor {

    letter-spacing: 5px;
}

#titulo_input {

    background: #00B2FF;
    display: inline-flex;
    border-radius: 10px 10px 0 0;
    box-shadow: 1.5px 3px 0 #9B9B9B;
    padding: 10px;
    width: 150px;
    justify-content: center;
    border: .5px solid rgba(0, 0, 0, 0.3);
}

#titulo_input label {

    background-color: unset;
}

#inasunto {

    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 1.5px 3px 0 #9B9B9B;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 110%;
    border: .5px solid rgba(0, 0, 0, 0.3);
}

label {

    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 110%;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media screen and (width <= 1000px) {
    
    #detalles {

        width: 100% !important;
        padding: .7rem !important;
        border-radius: 0 0 20px 20px !important;
    }

    #detalles .clave {

        font-size: 1.2rem !important;
    }

    #detalles .valor {

        font-size: 1.2rem !important;
    }

    #formbody {

        padding: 0 !important;
    }
}