#elegirfecha {  

    width: 100%;
    height: 100%;
    color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25), -2px -4px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
    position: relative;
}

#pasocontainer {

    height: 80% !important;
}

#formbody {

    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 90%;
    padding-top: 15px;
    padding-bottom: 1rem;
}

#formheader {

    width: 100%;
    background-color: #0059CD;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    margin: 0;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elegirfecha #calendariocontainer {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#elegirfecha #calendario {

    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .25);
    color: white;
    width: 60%;
    margin-bottom: 1rem;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(0, 0, 0, .25);
}

#calendario #monthyear {

    background-color: #0AF0AB;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#calendario #monthyear h2 {

    margin: 0;
    font-weight: 600;
}

#calendario .arrowright, #calendario .arrowleft {

    background-color: rgb(255, 255, 255);
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition-duration: 300ms;
}

#calendario .arrowright {

    clip-path: polygon(100% 50%, 0 100%, 0 0);
}

#calendario .arrowleft {

    clip-path: polygon(0 50%, 100% 100%, 100% 0);
}

#calendario #semana {

    background-color: #0059CD;
}

#calendario #semana {

    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}

#calendario #calendarbody {

    height: 300px;
    width: 100%;
}

#calendarbody thead {

    width: 100%;
}

#calendario .columna {

    width: 14.28%;
}

#calendario #dia {

    height: 50px;
    width: 80%;
    background-color: #E84141;
    border-radius: 25%;
    text-align: center;
    padding: 10px;
    font-size: 2rem;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .35);
    font-weight: 600;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: .3s;
}

#calendarbody #dia .ocupado {

    background-color: #E84141 !important;
}

#calendarbody .pasado {

    background-color: #CECECE !important;
}

#calendarbody .disponible {

    background-color: #0AF0AB !important;
    cursor: pointer;
}

#calendarbody .seleccionado {

    border: 5px solid rgb(255, 217, 0);
    box-shadow: 0 0 0 2px rgb(0, 0, 0, .25), 0 2px 1px rgba(0, 0, 0, .35), #7AE8FF90 0px 54px 55px, #7AE8FF90 0px -12px 30px, #7AE8FF90 0px 4px 6px, #7AE8FF90 0px 12px 13px, #7AE8FF90 0px -3px 5px !important;
    filter: brightness(1.06);
}

#calendario .vacio {

    height: 50px;
    width: 50px;
}

td {

    position: relative;
    height: 60px;
}

#calendario .arrowright:hover, #calendario .arrowleft:hover {

    scale: 1.1;
    filter: drop-shadow(30px 10px 4px #4444dd);
    background-color: #4294FF;
}

#calendario .arrowright:active, #calendario .arrowleft:active {

    scale: .95;
    filter: drop-shadow(30px 10px 4px #6a6aff);
    background-color: #4294FF;
}

.disponible:hover {

    scale: 1.03;
    filter: brightness(1.1) drop-shadow(0 0 2mm #74d5ff);
}

#calendariocontainer h3.fechaselec {

    width: 30%;
    color: white;
    background-color: #0AF0AB;
    font-weight: 600;
    padding: 5px;
    border-radius: 5px;
    text-shadow: 0 0 3px rgba(0, 0, 0, .5);
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    text-align: center;
    letter-spacing: 3px;
}

@media screen and (width <= 1000px) {
    
    #calendario {

        width: 100% !important  ;
    }

    #calendariocontainer .fechaselec {

        width: 90% !important;
    }
    
    #dia {

        font-size: 1.5rem !important;
        border-radius: 25% !important;
    }
}