#elegirodontologo {  

    width: 100%;
    height: 100%;
    color: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25), -2px -4px 4px rgba(0, 0, 0, .25);
    border-radius: 10px;
}

#elegirodontologo h1 {

    background-color: #0059CD;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 10px 10px 0 0;
    text-align: center;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elegirodontologo .innercontainer {

    width: 100%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#elegirodontologo ul {

    height: 70%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0;
}

#elegirodontologo .odontologo {

    display: flex;
    justify-content: center;
    width: 60%;
}

#elegirodontologo .odontologo input {

    width: 40px;
    margin-right: 1rem;
}

#elegirodontologo .odontologo label {

    background-color: #00B2FF;
    padding: 0 2rem;
    font-size: 1.5rem;
    border-radius: 10px 0 0 10px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
    font-weight: 600;
    width: 50%;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#elegirodontologo .odontologo img {

    height: 100px;
    width: 100px;
    border-radius: 0 10px 10px 0;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}

@media screen and (width <= 1000px) {
    
    ul {

        padding: 0 !important;
    }
    #elegirodontologo label {
        
        font-size: 1.2rem !important;
    }
    #elegirodontologo input {
        
        width: 30px !important;
    }
    #elegirodontologo h1 {

        font-size: 1.5rem;
    }
    
    #elegirodontologo .odontologo {

        width: 100% !important;
    }

    .odontologo label {

        height: 80px !important;
    }

    .odontologo img {

        width: 80px !important;
        height: 80px !important;
    }
}