@font-face {

    font-family: Huballi;
    src: url(../../font/Hubballi-Regular.ttf);
}

/* @font-face {

    font-family: RobotoSerif;
    src: url(../../font/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
} */

@font-face {

    font-family: Francois;
    src: url(../../font/JacquesFrancois-Regular.ttf);
}

body,
html {

    height: 100%;
    margin: 0;
    padding: 0;
}

body {

    overflow: hidden;
}

main {

    height: 100%;
    filter: brightness(0.85);
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {

    box-sizing: border-box;
}

.lds-spinner {
    color: currentColor;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#preloader {

    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 15;
}

#googlebutton {

    max-width: 320px;
    display: flex;
    padding: 0.5rem 1.4rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 0, 0, 0.4);
    gap: 0.75rem;
    color: rgb(65, 63, 63);
    background-color: #fff;
    cursor: pointer;
    transition: all .6s ease;
}

#googlebutton svg {

    height: 24px;
}

#googlebutton:hover {

    transform: scale(1.05);
    filter: brightness(1.1);
}

#googlebutton:active {

    transform: scale(.97);
    filter: brightness(1.2);
}

#logocontainer img {

    border: none;
    width: 160px;
    transition-duration: .3s;
}

#logocontainer img:hover {

    filter: brightness(1.3);
}

#titulo_input {

    background-color: #00B2FF;
    display: inline-flex;
    border-radius: 10px 10px 0 0;
    box-shadow: 1.5px 3px 0 #9B9B9B;
    padding: 0 20px 0 20px;
    justify-content: center;
    border: .5px solid rgba(0, 0, 0, 0.2);
}

input,
textarea,
button[type='submit'],
#btnregistrarsel, #buttonRecu button {

    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 1.5px 3px 0 #9B9B9B, 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 130%;
    border: .5px solid rgba(0, 0, 0, 0.4);
    transition: all .3s;
}

label {

    color: white;
    font-weight: 700;
    letter-spacing: 0.5px;
    font-size: 130%;
    padding: 10px;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#subtitulo,
label,
.contenedor {

    text-shadow: 0 1px 5px rgba(0, 0, 0, .5);
}

form {

    background-color: white;
    border: 3px solid white;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.8);
    width: 100%;
}

#formRegistrar {

    background-color: rgba(96, 245, 255, .2);
}

#sideimg {

    background-color: gray;
    height: 100dvh;
}

#ingresar, #ingresarad, #btnregistrarsel, #buttonRecu button {

    color: white;
    background-color: #00B2FF;
    border: .5px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    font-size: 200%;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 5px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

#ingresar:hover,
#btnregistrarsel:hover,
#ingresarad:hover, #buttonRecu button:hover {

    scale: 1.01;
    filter: brightness(1.15);
}

#ingresar:active,
#btnregistrarsel:active,
#ingresarad:active, #buttonRecu button:active {

    scale: .99;
    filter: brightness(1.25);
}

input:hover {

    filter: brightness(1.05);
    box-shadow: 1.5px 3px 0 #9B9B9B, 2px 4px 4px 3px rgba(0, 0, 0, 0.4);
}

.row {

    height: 100%;
}

h1 {

    color: #00B2FF;
    font-weight: bold;
    text-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
    font-family: RobotoSerif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#jejeje {

    opacity: 0;
    position: absolute;
    transform: translateX(30000px);
}

#logincontent {

    background-image: url(../../img/fondos/fondologin.png);
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(1);
    height: 100dvh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#registercontent {

    display: flex;
    justify-content: center;
    align-items: center;
}

#logincontent span {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    color: rgba(0, 0, 0, .8);
}

#olvidarpass {

    color: var(--bs-link-color);
    text-decoration: underline;
    cursor: pointer;
}

#formLogin {

    background-color: rgba(96, 245, 255, .2);
}

#sideimg {

    background-image: url(../../img/imagenesEmpresa/entrada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    filter: contrast(1.3);
    height: 100dvh;
}

@media screen and (width < 992px) {

    #sideimg {

        display: none !important;
    }
}

.contconcontrasenia #titulo_input {

    width: 300px;
}

body {

    height: 100% !important;
    background-image: url(../../img/fondos/fondologin.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    filter: contrast(1.5);
}

#formRecuPass span {
    
    font-size: 1.35rem;
    padding-top: .3rem;
}

/*/ Tablets y Smart Phones anchos /*/
@media screen and (max-width: 899px) and (min-width: 401px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #formRegistrar {

        padding: .6rem !important;
    }

    #formRegistrar #contenedor_formulario_registro {

        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    #sideimg {
        display: none;
    }

    #contenedor_formulario_registro {
        margin-bottom: 35px !important;
    }

    #formulario {
        margin-left: 0 !important;
    }

    #div_input {
        width: 100%;
    }

    #titulo_input {
        width: fit-content !important;
    }

    body {

        background-image: url(../../img/fondos/fondologin.png);
        background-size: cover;
        background-position: unset !important;
        background-repeat: no-repeat;
        filter: contrast(1.5);
    }

    #ingresar,
    #ingresarad,
    #btnregistrarsel,
    #buttonRecu button {

        font-size: 150% !important;
    }

    #formLogin {

        padding: .6rem !important;
    }

    #logincontent span {

        font-size: 100% !important;
    }
        
    label {

        font-size: 120%;
    }

    #logocontainer img {

        width: 140px !important;
    }

    #formRecuPass {

        padding: .6rem !important;
    }

    #formRecuPass span {
    
        font-size: 1.2rem;
        padding-top: .3rem;
    }
}

/*/ Smart Phones /*/
@media screen and (max-width: 400px) and (min-width: 301px) {

    html,
    body {
        width: 100%;
        height: 100% !important;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    #formRegistrar {

        padding: .6rem !important;
    }

    #formRegistrar #contenedor_formulario_registro {

        padding-right: 0 !important;
        padding-left: 0 !important;
        /* margin-bottom: 35px !important; */
    }

    #sideimg {
        display: none;
    }

    #formulario {
        margin-left: 0 !important;
    }

    #div_input {
        width: 100%;
    }

    #titulo_input {
        width: fit-content !important;
    }

    input,
    textarea {

        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 0 10px 10px 10px;
        box-shadow: 1.5px 3px 0 #9B9B9B, 0 4px 4px rgba(0, 0, 0, 0.25);
        font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 100%;
        border: .5px solid rgba(0, 0, 0, 0.4);
    }

    body {

        background-image: url(../../img/fondos/fondologin.png);
        background-size: cover;
        background-position: unset !important;
        background-repeat: no-repeat;
        filter: contrast(1.5);
    }

    #ingresar, #ingresarad, #btnregistrarsel, #buttonRecu button {

        font-size: 140% !important;
    }

    #formLogin {

        padding: .6rem !important;
    }

    #logincontent span {

        font-size: 100% !important;
    }
    
    label {

        font-size: 120%;
    }

    #logocontainer img {

        width: 140px !important;
    }

    #formRecuPass {

        padding: .5rem !important;
    }

    #formRecuPass span {
    
        font-size: 1.2rem;
        padding-top: .3rem;
    }
}

@media screen and (max-width: 1299px) and (min-width: 900px) {

    html,
    body {
        width: 100%;
        height: 100% !important;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

.volver {

    display: block;
    position: fixed;
    top: 3%;
    left: 6%;
    width: 64px;
    height: 64px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}

.volver:before,
.volver:after {

    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
}

.volver:before {

    border: 4px solid #00B2FF;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.volver:after {

    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
}

.volver:hover:before,
.volver:focus:before {

    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
        transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.volver:hover:after,
.volver:focus:after {

    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
        transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
}

.volver-box {

    display: flex;
    position: absolute;
    top: 0;
}

.volver-elem {

    display: block;
    width: 32px;
    height: 32px;
    margin: 18px 16px 0 16px;
    transform: rotate(180deg);
    fill: #00B2FF;
}

.volver:hover .volver-box,
.volver:focus .volver-box {

    transition: 0.4s;
    transform: translateX(-64px);
}

body {

    transition-duration: .5s;
}