#containerRecuPass {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#contColor {

    background-color: #00B2FF;
    font-weight: bold;
}

#contenedor_formulario {

    text-align: left !important;
}

.contBTN {

    width: -webkit-fill-available;
}

.H1 {
    font-weight: bold !important;
    font-size: xx-large !important;
    color: #00B2FF !important;
    text-shadow: 2px 2px gray !important;
}

.H2,
.H5 {
    color: unset !important;
    font-weight: normal !important;
    text-shadow: none;
}

.H4,
.H6 {
    font-size: xx-large;
}

#logaso {
    width: 10rem;
}

#formRecuPass {

    box-shadow: none;
    background-color: rgba(96, 245, 255, .2);
}