@font-face {

    font-family: Huballi;
    src: url(../../font/Hubballi-Regular.ttf);
}

@font-face {

    font-family: RobotoSerif;
    src: url(../../font/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: Francois;
    src: url(../../font/JacquesFrancois-Regular.ttf);
}

h1, h2, h3, h4, h5 {

    text-wrap: balance;
}

p {

    text-wrap: pretty;
}

.lds-spinner,
.lds-spinner div,
.lds-spinner div:after {

    box-sizing: border-box;
}

.lds-spinner {
    color: currentColor;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3.2px;
    left: 36.8px;
    width: 6.4px;
    height: 17.6px;
    border-radius: 20%;
    background: currentColor;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

html, body, #container {

    height: 100dvh;
}

header {

    height: 15dvh !important;
    width: 95%;
}

header > div {

    height: 100% !important;
}

.segfila {

    height: 84dvh !important;
}

.logocontainer {

    border-bottom-right-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, .25);
}

.logocontainer img {

    width: 160px;
    border: none;
}

.navcontainer {

    display: flex;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: -2px 4px 4px rgba(0, 0, 0, .25);
}

nav {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

nav ul {

    display: flex;
    justify-content: start;
    gap: 1rem;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-bottom: 0 !important;
}

nav li {

    transition-duration: .3s;
}

nav a {

    text-decoration: none;
    color: white;
    background-color: #00B2FF;
    padding: 1.5rem;
    border-radius: 10px;
    font-size: 150%;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    transition-duration: .3s;
}

nav li:hover {

    scale: 1.05;
}   

nav li:hover a {

    color: white;
}

#container {

    row-gap: .5rem;
    overflow: hidden;
}

.sidebarcontainer {

    row-gap: .5rem;
}

.sidebar {

    border-radius: 0 10px 10px 0;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    height: 75dvh !important;
    max-height: 62dvh !important;
    box-shadow: 2px 0 4px rgba(0, 0, 0, .25);
    padding: 10px;
    background-clip: padding-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    transition-duration: .3s;
}

.sidebar::-webkit-scrollbar {

    display: none;
}

.actionbar {

    border-top-right-radius: 10px;
    height: 21dvh !important;
    box-shadow: 2px -4px 4px rgba(0, 0, 0, .25);
}

main {

    border-top-left-radius: 10px;
    overflow-y: scroll;
    scrollbar-gutter: stable;
    height: 84dvh !important;
    max-height: 84dvh !important;
    box-shadow: -2px -4px 4px rgba(0, 0, 0, .25);
    transition-duration: .3s;
}

.row > div {

    padding-left: 0;
}

#odontologocontainer {

    display: flex;
    justify-content: center;
    align-items: center;
}

#odontologocontainer h2 {

    background-color: #4294FF;
    color: white;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
    font-weight: 500;
    transition-duration: .3s;
}

#odontologocontainer h2:hover {

    scale: 1.05;
}

#logo img {

    transition-duration: .25s;
}

#logo:hover img {

    scale: 1.05;
    filter: brightness(1.2);
}