#tituloconsultas {

    background-color: #4294FF;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 350%;
    padding: 5px;
    text-shadow: 0 4px 4px #878787;
    font-family: RobotoSerif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    box-shadow: 1px 4px 4px #9B9B9B;
}

.separador {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.separador hr {

    display: block;
    width: 95%;
    height: 3px;
    border: 0;
    background-color: black;
}

.separador span {

    color: #00B2FF;
    width: 45%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
}

.consulta {

    background-color: #7CB9E8;
    border-radius: 20px;
    padding: 1rem;
    height: 130px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition-duration: .3s;
}

.consulta > div {

    background-color: white;
    width: 33.3%;
    color: #4294FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    font-weight: 450;
    box-shadow: 0 0 3px rgba(0, 0, 0, .45);
}

.consulta .fechacontainer {

    border-radius: 20px 0 0 20px;
}

#consultasencurso .consulta .horacontainer {

    border-radius: 20px 0 0 20px;
}

#consultasencurso .consulta>div {

    width: 50%;
}

.consulta .asuntocontainer {

    border-radius: 0 20px 20px 0;
}

#consultasfuturas,
#consultasprevias,
#consultasencurso {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.consulta:hover {

    border: 3px solid #0AF0AB;
}

.sidebar > h2 {

    color: #00B2FF;
    text-align: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 170%;
}

.sidebar .pacientec,
.consultaside {

    background-color: #00B2FF;
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 150%;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0px;
    transition-duration: .3s;
}

.sidebar .pacientec:hover {

    scale: 1.03;
    filter: brightness(1.1);
}

.sidebar .pacientec:active {

    scale: .97;
    filter: brightness(1.2);
}

.sidebar .consultaside:hover {

    scale: 1.03;
}

.titdefconsultas {

    color: white;
    background-color: #0AF0AB;
    padding: 1.5rem;
    border-radius: 15px;
    text-shadow: 2px 1px 0 rgb(78, 78, 78);
    font-size: 2.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    border: 2px solid rgba(0, 0, 0, .15);
}

#contagregarconsulta {
    
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: rgb(96, 246, 255, .1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}

#contagregarconsulta > div {

    width: 100%;
}

#contagregarconsulta label {

    text-align: center;
    text-align: center;
    color: #00d335;
    font-size: 1.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}

#agregarconsulta {

    background-color: #4294FF;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
    transition-duration: .3s;
}

#agregarconsulta.inactivo {

    background-color: rgb(66, 148, 255, .4);
}

#agregarconsulta.activo:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

#agregarconsulta.activo:active {

    scale: .97;
    filter: brightness(1.2);
}

.fechadisponible a, .fechanodisponible span {

    border-radius: 10px !important;
    color: white !important;
    font-weight: 600 !important;
    text-align: center !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    transition-duration: .25s;
}

.fechadisponible a {

    background-color: #00c388 !important;
    cursor: pointer;
}

.fechanodisponible span {

    background-color: #E84141 !important;
}

.fechadisponible:hover a, .fechanodisponible:hover span {

    scale: 1.04 !important;
    filter: brightness(1.1) !important;
}

.fechadisponible:active a, .fechanodisponible:active span {

    scale: .98 !important;
    filter: brightness(1.2) !important;
}