.contenedor_ConsultaPaciente {

    background-color: #7CB9E8;
    height: auto;
    border-radius: 10px;
    color: white;
    border: 1px solid #ccc; 
    border-radius: 8px; 
    line-height: 1.8 !important;
}

.contConsultaAsunto {

    margin-bottom: 2rem;
    height: fit-content;
}

.headerConsulta {

    background-color: #00B2FF;
    border-radius: 10px 10px 0 0;
    font-family: 'RobotoSerif';
}

.headerConsulta h1 {

    padding: 10px;
}

h1 {

    margin-bottom: 0;
}

.contAsunto {

    background-color: #0059CD;
    filter: brightness(1.1);
    margin: 0;
}

.contAsunto h1 input {

    width: 100% !important;
    color: white;
}

.contAsunto h1{

    font-size: 1.5rem;
    font-family: 'RobotoSerif';
    padding: 10px;
}

.contInteractivo {

    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #00B2FF;
}

.tituloHora {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: fit-content;
    text-align: center;
    padding: 10px 60px;
    border-radius: 10px 10px 0 0;
}

.tituloHora h1 {

    font-size: 1.5rem;
    font-family: 'RobotoSerif';
}

.contentHora {

    background-color: white;
    color: #000;
    width: 100%;
    padding: 20px 20px 20px 20px;
    border-radius: 0 10px 10px 10px;
    text-align: center;
}

.contFecha {

    direction: rtl;
}

.tituloFecha {

    background-color: #0059CD;
    filter: brightness(1.1);
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 10px 60px;
    border-radius: 10px 10px 0 0;
}

.tituloFecha h1 {

    font-size: 1.5rem;
    font-family: 'RobotoSerif';
}

.divTituloFecha {

    align-items: end;
}

.contentFecha {

    background-color: white;
    color: #000;
    width: 100%;
    border-radius: 10px;
    border-radius: 10px 0 10px 10px;
    text-align: center;
    padding: 20px;
}

.tituloDuracion {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: 100%;
    text-align: center;
    padding: 2px 10px !important;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDuracion h1 {

    font-size: 1.5rem;
    font-family: 'RobotoSerif';
}
.contentDuracion {

    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contResumen {

    width: 100%;
    margin-top: 20px !important;
}

.tituloResumen {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: 100%;
    text-align: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.tituloResumen h1 {

    font-size: 1.5rem;
    font-family: 'RobotoSerif';
}

#resumen-CP {

    width: 100%;
    height: 180px;
    border-radius: 0 0 20px 20px;
    color: #00B2FF;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 470;
    font-size: 1.2rem;
    padding: .5rem;
}

.contentResumen {

    width: 100%;
}

.btnInteractivo {

    background-color: #0AF0AB;
    filter: brightness(1.1);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);
    transition-duration: .3s;
    font-weight:500 !important;
    font-size: 2rem;
    width: 20%;
    height: 100%;
}

.btnInteractivo:hover {

    scale: 1.05;
}

.btnInteractivo:hover {

    color: white;
}

select {

    background-color: white;
    appearance: none;
    text-align: center;
    border: solid;
    border-color: transparent;
    border-radius: 10px;
    font-family: RobotoSerif, Arial, Helvetica, sans-serif;
    cursor: inherit;
    line-height: inherit;
    font-weight: 500;
    font-size: 1.5rem;
    color:  #00B2FF;
    width: 100%;
}

select:not([disabled]):hover {

    border-color: #00B2FF;
}

select option {

    background-color: white !important;
    font-family: RobotoSerif, Arial, Helvetica, sans-serif;
    color:  #00B2FF;
    width: 100%;
}

input {

    appearance: none;
    width: fit-content !important;
    background-color: transparent;
    border: transparent;
}

h2 input {

    appearance: none;
    width: 100px !important;
    background-color: transparent;
    border: transparent;
}

button {
    
    color: white;
}

textarea:is([disabled]) {

    background-color: white !important;
}

@media only screen and (max-width: 1920px) and (min-width: 1320px) {

    .contentFecha {

        width: 95%;
        display: grid;
    }
  
    .contentHora {

        width: 95%;
        display: grid;
    }
  
    .contDuracion {

        justify-content: center;
        display: grid;
    }

    .contFecha, .contHora {

        width: 39%;
    }

    .contInteractivo {

        width: 100%;
        bottom: 0;
    }

    .contResumen {
        
        width: 100%;
        bottom: 0;
    }

    .contInteractivo {

        width: auto;
        height: 100px;
    }

    .contentDuracion input {

        text-align: center;
        color: #00B2FF;
        width: 5rem !important;
        font-weight: 500;
        font-size: 1.5rem;
        font-family: 'RobotoSerif';
    }
}

@media only screen and (max-width: 1319px) {

    .tituloHora {

        width: 100%;
    }
    .tituloFecha {

        width: 100%;
        display: grid;
    }

    .contenedorcentral {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contHora {

        width: 100%; 
    }

    .contDuracion {

        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    } 

    .contentDuracion input {

        text-align: center;
        color: #00B2FF;
        width: 5rem !important;
        font-weight: 500;
        font-size: 1.5rem;
        font-family: 'RobotoSerif';
    }

    .tituloDuracion {

        padding: 10px 60px !important;
    }

    .contentFecha, .contentHora {

        border-radius: 0 0 10px 10px;
    }

    .contFecha {

        width: 100%;
        direction: unset;
    }
}

@media only screen and (width <= 991px) {

    .tituloHora {

        width: 100%;
    }
    .tituloFecha {

        width: 100%;
    }

    .btnInteractivo {

        font-size: 1.5rem;
    }

    .contInteractivo {

        flex-direction: column;
        gap: .5rem;
    }

    .contInteractivo > button {

        width: 100%;
    }

    .contenedor_ConsultaPaciente > .lodivcontenedor {

        padding: .5rem !important;
    }
}