.contenedor_ConsultaPaciente {

    background-color: #7CB9E8;
    height: 98%;
    margin: 10px;
    border-radius: 10px;
    color: white;
    border: 1px solid #ccc; /* Borde del contenedor */
    border-radius: 8px; /* Bordes redondeados */

}

.contConsultaAsunto {

    margin-bottom: 5pc;
    height: fit-content;
}

.headerConsulta {

    background-color: #00B2FF;
    border-radius: 10px 10px 0 0;
}

h1 {

    margin-bottom: 0;
}

.contAsunto {

    background-color: #0059CD;
    filter: brightness(1.1);
    margin: 0;
}

.contAsunto h1 input {

    color: white;
}

.contInteractivo {

    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #00B2FF;
}

.tituloHora {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.contentHora {

    background-color: white;
    color: #000;
    width: 100%;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
    text-align: center;
}

.contentHora h1 {

    font-size: xx-large;
}

.contFecha {

    direction: rtl;
}

.tituloFecha {

    background-color: #0059CD;
    filter: brightness(1.1);
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.divTituloFecha {

    align-items: end;
}

.contentFecha {

    background-color: white;
    color: #000;
    width: 100%;
    padding: 10px;
    border-radius: 10px 0 10px 10px;
    text-align: center;
}

.contentFecha h1 {

    font-size: xx-large;
}

.tituloDuracion {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.contentDuracion {

    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

.contResumen {

    width: 100%;
}

.tituloResumen {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

#resumen-CP {

    width: 100%;
    height: 180px;
}

.contentResumen {

    width: 100%;
}

.btnInteractivo {

    background-color: #0AF0AB;
    filter: brightness(1.1);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);
    transition-duration: .3s;
    width: 25%;
    height: 100%;

}

.btnInteractivo:hover {

    scale: 1.05;
}

.btnInteractivo:hover {

    color: white;
}

select {

    appearance: none;
    width: fit-content !important;
    background-color: #0AF0AB !important;
    border: solid;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, Arial, Helvetica, sans-serif;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

input {

    appearance: none;
    width: fit-content !important;
    background-color: transparent;
    border: transparent;
}

h2 input {

    appearance: none;
    width: 100px !important;
    background-color: transparent;
    border: transparent;
}

button {
    
    color: white;
}

@media only screen and (max-width: 1920px) and (min-width: 1320px) {
    .contentFecha {
        width: 95%;
        display: grid;
      }
  
      .contentHora {
        width: 95%;
        display: grid;
    }
  
    .contDuracion {
        justify-content: center;
        display: grid;
    }

    .contFecha{
        width: 39%;
    }
    .contHora{
        width: 39%;
    }

    .contInteractivo{
        width: 100%;
        position: fixed;
        bottom: 0;
    }

    .contResumen{
        width: 100%;
        position: fixed;
        bottom: 0;
    }
}

@media only screen and (max-width: 1319px) {
    .tituloHora {
        width: 100%;
    }
    .tituloFecha {
        width: 100%;
    }

    .contenedorcentral{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

  

    .contHora{width: 100%;}
    .contDuracion{width: 100%;}
    .contFecha{width: 100%;}
}

@media only screen and (max-width: 990px) {
    .tituloHora {
        width: 100%;
    }
    .tituloFecha {
        width: 100%;
    }
}