#tituloconsultas {

    background-color: #4294FF;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 350%;
    padding: 5px;
    text-shadow: 0 4px 4px #878787;
    font-family: RobotoSerif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    box-shadow: 1px 4px 4px #9B9B9B;
}

.separador {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.separador hr {

    display: block;
    width: 95%;
    height: 3px;
    border: 0;
    background-color: black;
}

.separador span {

    color: #00B2FF;
    width: 45%;
    text-align: center;
    font-size: 2rem;
    letter-spacing: 5px;
}

.consulta {

    background-color: #7CB9E8;
    border-radius: 20px;
    padding: 1rem;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border: 3px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    transition-duration: .3s;
}

.consulta > div {

    background-color: white;
    width: 33.3%;
    color: #4294FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.8rem;
    font-weight: 450;
    box-shadow: 0 0 2px black;
}

.consulta .fechacontainer {

    border-radius: 20px 0 0 20px;
}

#consultasencurso .consulta .horacontainer {

    border-radius: 20px 0 0 20px;
}

#consultasencurso .consulta>div {

    width: 50%;
}

.consulta .asuntocontainer {

    border-radius: 0 20px 20px 0;
}

#consultasfuturas,
#consultasprevias,
#consultasencurso {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.consulta:hover {

    border: 3px solid #0AF0AB;
}

.sidebar > h2 {

    color: #00B2FF;
    text-align: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 170%;
}

.sidebar .pacientec,
.consultaside {

    background-color: #00B2FF;
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 150%;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0px;
    transition-duration: .3s;
}

.sidebar .pacientec:hover {

    scale: 1.03;
    filter: brightness(1.1);
}

.sidebar .pacientec:active {

    scale: .97;
    filter: brightness(1.2);
}

.sidebar .consultaside:hover {

    scale: 1.03;
}

.titdefconsultas {

    color: white;
    background-color: #0AF0AB;
    padding: 1.5rem;
    border-radius: 15px;
    text-shadow: 2px 1px 0 rgb(78, 78, 78);
    font-size: 2.5rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .25);
    border: 2px solid rgba(0, 0, 0, .15);
}

.contenedor_ConsultaPaciente {

    background-color: #7CB9E8;
    height: 98%;
    margin: 10px;
    border-radius: 10px;
    color: white;

}

.contConsultaAsunto {

    margin-bottom: 5pc;
}

.headerConsulta {

    background-color: #00B2FF;
    border-radius: 10px 10px 0 0;
}

h1 {

    margin-bottom: 0;
}

.contAsunto {

    background-color: #0059CD;
    filter: brightness(1.1);
    margin: 0;
}

.contAsunto h1 input {

    color: white;
}

.contInteractivo {

    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: #00B2FF;
}

.tituloHora {
    background-color: #0059CD;
    filter: brightness(1.1);
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
   
}

.tituloHora h1{
    font-size: 2vw;
}


.contentHora {
    margin-left: 1px;
    background-color: white;
    color: #000;
    width: 100%;
    padding: 10px;
    border-radius: 0px 10px 10px 10px;
    text-align: center;
}

.contentHora h1 {
    font-size: 2vw;
}

.contHora,
.contFecha {

    width: 40%;
}

.contFecha {

    direction: rtl;
}

.tituloFecha {

    background-color: #0059CD;
    filter: brightness(1.1);
    display: flex;
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}
.tituloFecha h1 {
    font-size: 2vw;
}


.contentFecha {
    background-color: white;
    color: #000;
    width: 100%;
    padding: 10px;
    border-radius: 10px 0px 10px 10px;
    text-align: center;
    margin-right: 1px;
}
.contentFecha h1 {
    font-size: 2vw;
}

.tituloDuracion {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: 100%;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

.tituloDuracion h1 {
    font-size: 2vw;
}

.contentDuracion {
    font-size: 3vw;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    text-align: center;
}

#duracion-CP{
    text-align: center;
}

.contResumen {
    padding: 30px;
}


.tituloResumen {

    background-color: #0059CD;
    filter: brightness(1.1);
    width: fit-content;
    text-align: center;
    padding: 5px;
    border-radius: 10px 10px 0 0;
}

#resumen-CP {
    border-radius: 0 10px 10px;
    width: 100%;
    height: 180px;
}


.btnInteractivo {

    background-color: #0AF0AB;
    filter: brightness(1.1);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);
    transition-duration: .3s;
    width: 20%;
    height: 100%;
}

.btnInteractivo:hover {

    scale: 1.05;
}

.btnInteractivo:hover {

    color: white;
}

select {

    appearance: none;
    width: fit-content !important;
    background-color: #0AF0AB !important;
    border: solid;
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 2px 0 2px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, Arial, Helvetica, sans-serif;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

input {

    appearance: none;
    width: fit-content !important;
    background-color: transparent;
    border: transparent;
}

h2 input {

    appearance: none;
    width: 100px !important;
    background-color: transparent;
    border: transparent;
}

button {

    color: white;
}