#tituloservicios {

    background-color: #4294FF;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 350%;
    padding: 5px;
    text-shadow: 0 4px 4px #878787;
    font-family: RobotoSerif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    box-shadow: 1px 4px 4px #9B9B9B;
}

#servicioscontainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    margin-top: 1rem;
}

.servicio {

    background-color: #0059CD;
    color: white;
    padding: 1.3rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition-duration: .3s;
    font-family: RobotoSerif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.servicio h3 {

    margin: 0 !important;
    font-weight: 600;
    font-size: 2rem;
}

.servicio:hover {

    scale: 1.007;
    filter: brightness(1.1);
}

.servicio:active {

    scale: .993;
    filter: brightness(1.2);
}

#cuerpo {

    border: 2px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .4);
    border-radius: 12px;
    margin-top: .5rem;
    font-family: 'RobotoSerif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cuerpo h1 {

    text-align: center;
    background-color: #0059CD;
    color: white;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
    margin: 0;
}

#cuerpo .form-group {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cuerpo .form-group label {

    width: 100%;
    text-align: center;
    background-color: #0059CD;
    color: white;
    font-weight: 600;
    padding: .7rem;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
}

#cuerpo .form-group textarea {

    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 1.5rem;
}

#leyendascontainer {

    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contimg span {

    text-align: center;
    color: #00d335;
    font-size: 1.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    letter-spacing: 2px;
}

#contimg {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#contimg #iconocontainer, #contimg #imgcontainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgservicio, #icoservicio {

    height: 150px;
    box-shadow: 4px 4px 4px #00b3ff7d, 0 0 3px 1px rgba(0, 0, 0, .5);
    padding: .5rem;
    border-radius: 15px;
    width: 150px;
}


.lapizeditar {

    background-color: #0AF0AB;
    border-radius: 30%;
    padding: 10px;
    z-index: 2;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, .5);
    transition-duration: .3s;
    cursor: pointer;
    position: absolute;
    bottom: -7%;
    right: -7%;
}

.lapizeditar:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

.lapizeditar:active {

    scale: .95;
    filter: brightness(1.2);
}

.lapizeditar > img {

    width: 30px;
}

#inFile1, #inFile2 {

    display: none !important;
}

#contagregarservicio {
    
    width: 80% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
    background-color: rgb(96, 246, 255, .1);
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .3);
}

#contagregarservicio > div {

    width: 100%;
}

#contagregarservicio label {

    text-align: center;
    text-align: center;
    color: #00d335;
    font-size: 1.5rem;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
    letter-spacing: 2px;
    text-align: center;
    width: 100%;
}

#contagregarservicio #descripcion {

    max-height: 18rem;
}


#agregarservicio {

    background-color: #4294FF;
    color: white;
    border: none;
    padding: 1rem 2.5rem;
    font-weight: 600;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    border-radius: 10px;
    letter-spacing: 1px;
    text-shadow: 0 0 2px rgba(0, 0, 0, .3);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, .3);
    transition-duration: .3s;
}

#agregarservicio.inactivo {

    background-color: rgb(66, 148, 255, .4);
}

#agregarservicio.activo:hover {

    scale: 1.05;
    filter: brightness(1.1);
}

#agregarservicio.activo:active {

    scale: .97;
    filter: brightness(1.2);
}