#tituloservicios {

    background-color: #4294FF;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 350%;
    padding: 5px;
    text-shadow: 0 4px 4px #878787;
    font-family: RobotoSerif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 5px;
    box-shadow: 1px 4px 4px #9B9B9B;
}

#servicioscontainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    margin-top: 1rem;
}

.servicio {

    background-color: #0059CD;
    color: white;
    padding: 1.3rem;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    border: 3px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition-duration: .3s;
    font-family: RobotoSerif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.servicio h3 {

    margin: 0 !important;
    font-weight: 600;
    font-size: 2rem;
}

.servicio:hover {

    scale: 1.007;
    filter: brightness(1.1);
}

#cuerpo {

    border: 2px solid rgba(0, 0, 0, .4);
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, .4);
    border-radius: 12px;
    margin-top: .5rem;
    font-family: 'RobotoSerif', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cuerpo h1 {

    text-align: center;
    background-color: #0059CD;
    color: white;
    padding: 1rem;
    border-radius: 10px 10px 0 0;
    font-weight: 600;
}

#cuerpo .form-group {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cuerpo .form-group label {

    width: 100%;
    text-align: center;
    background-color: #0059CD;
    color: white;
    font-weight: 600;
    padding: .7rem;
    border-radius: 10px 10px 0 0;
    font-size: 1.5rem;
}

#cuerpo .form-group textarea {

    width: 100%;
    border-radius: 0 0 10px 10px;
    font-size: 1.5rem;
}