.sidebar > h2, #sidebarmobile > h2 {

    color: #00B2FF;
    text-align: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 170%;
}

.sidebar .pacientec,
.consultaside, #sidebarmobile .pacientec {

    background-color: #00B2FF;
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 135%;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0px;
    transition-duration: .3s;
}

.sidebar > h2, #sidebarmobile > h2 {

    color: #00B2FF;
    text-align: center;
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 170%;
}

.sidebar .paciente,
.consultaside, #sidebarmobile .paciente {

    background-color: #00B2FF;
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    font-size: 135%;
    box-shadow: 3px 6px 1px rgba(0, 0, 0, .25);
    font-family: RobotoSerif, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    margin: 10px 0px;
    transition-duration: .3s;
}

.sidebar .pacientec:hover, #sidebarmobile .pacientec:hover {

    scale: 1.03;
    filter: brightness(1.1);
}

.sidebar .pacientec:active, #sidebarmobile .pacientec:active {

    scale: .97;
    filter: brightness(1.2);
}

.sidebar .consultaside:hover, #sidebarmobile .consultaside:hover {

    scale: 1.03;
}

.sidebar .paciente:hover, #sidebarmobile .paciente:hover {

    scale: 1.03;
    filter: brightness(1.1);
}

.sidebar .paciente:active, #sidebarmobile .paciente:active {

    scale: .97;
    filter: brightness(1.2);
}

.sidebar .consultaside:hover, #sidebarmobile .consultaside:hover {

    scale: 1.03;
}