main {

    width: 100%;
}

#blkBienvenida {
    
    background-color: #7CB9E8;
    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blkBienvenida aside {

    border-radius: 0;
}

#blkBienvenida span {
    
    color: aqua;
    text-shadow: 2px 2px 1px #9B9B9B, 0 0 5px rgb(255, 183, 0);
}

#blkBienvenida p, #blkBienvenida h2 {

    font-size: 150%;
    color: white;
    text-shadow: 2px 2px 1px #9B9B9B;
}

#blkBienvenida h2 {

    font-size: 200%;
}

#seccarrusel {

    background-color: #7CB9E8;
}

#bienvenida {

    min-height: 85vh;
    text-align: center;
    position: relative;
    margin-top: 5px;
}

#bienvenida article h1 {

    font-size: 6rem;
    color: white;
    z-index: 3;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    width: 100%;
    letter-spacing: 3px;
    font-family: RobotoSerif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#bienvenida article {

    flex-wrap: wrap;
}

.imgcontainer {

    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1px) drop-shadow(0 0 5px black) contrast(100%);
    clip-path: ellipse(93% 48% at 50% 50%);
}

.imgcontainer img {

    z-index: 1;
}

.imgcontainer .negron {

    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#bienvenida #btnreservar {

    font-size: 300%;
    padding: 15px 20px;
}

#bienvenida .contReservar {

    max-width: none !important;
}

#secdatos {

    background-color: white;
    min-height: 150px;
    text-align: center;
    background-color: #7CB9E8;
    color: white;
    font-family: RobotoSerif, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0 2px 0 #9B9B9B;
}

.contdatos .numeron {

    font-size: 500%;
    text-shadow: 0 2px 0 #9B9B9B, 0 0 10px gold;
}

.contdatos h3 {

    font-size: 250%;
}

@media screen and (max-width: 800px) {
    
    #bienvenida article h1 {

        font-size: 3rem !important;
    }

    #bienvenida #btnreservar {

        font-size: 250%;
        padding: 0;
    }

    .contdatos .numeron {

        font-size: 300%;
    }
    
    .contdatos h3 {
    
        font-size: 150%;
    }
}

@media screen and (max-width: 400px) {

    #bienvenida #btnreservar {

        font-size: 200%;
        padding: 0;
    }
    
    #bienvenida .contReservar {

        border-radius: 10px;
    }
}