@font-face {

    font-family: Huballi;
    src: url(../font/Hubballi-Regular.ttf);
}

@font-face {

    font-family: RobotoSerif;
    src: url(../font/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

@font-face {

    font-family: Francois;
    src: url(../font/JacquesFrancois-Regular.ttf);
}

html, body, #container {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {

    background-color: #88CEDD;
    border-radius: 15px;
    margin: 10px;
    min-height: 100px;
    max-height: 150px;
    overflow: hidden;
}

header #titulogo h2 {

    margin-top: 0px;
    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white;
}

header #titulogo h1 {

    text-shadow: 1px 1px 0 white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1.5px 1.5px 0 white;
    margin-bottom: 0px;
    letter-spacing: 2px;
}

header #titulogo {

    font-family: Francois,  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header #titulogo h1 .s1 {

    color: #4BF4FF;
}

header #titulogo h1 .s2 {

    color: #38F9EC;
}

header #titulogo h1 .s3 {

    color: #2AFDDD;
}


nav ul {

    list-style: none;
    padding: 0;
    width: fit-content;
}

nav ul li, #btnreservar {

    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

nav ul li a {

    text-decoration: none;
}

footer {

    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
    animation: headerfade 2s ease forwards;
}

/*/ PC /*/
@media screen and (min-width: 801px) {

    nav ul li, #btnreservar {
        
        display: inline-block;
        margin-right: 20px;
    }

    nav ul li a, #btnreservar {

        color: white;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 160%;
        display: inline;
    }

    header {

        box-shadow: 0 4px 0 #9B9B9B;
        display: flex;
        justify-content: left;
        align-items: center;
        min-width: 98%;
        animation: headerfade 2s ease forwards;
    }

    header #titulogo {

        width: 750px;
        text-align: center;
    }

    nav {

        display: flex;
        justify-content: right;
        width: 100%;
    }

    .contReservar {

        display: inline-flex;
    }

    header #imglogo {

        width: 120px;
        padding: 15px;
        display: inline-block;
        padding-right: 0px;
    }

    header #imgtitulo {

        width: 400px;
    }

    header #logo {

        margin: 15px;
        margin-left: 5px;
        margin-right: 0px;
        width: fit-content;
        height: fit-content;
        display: inline-block;
    }

    #btnreservar {

        background-color: white;
        color: #88CEDD;
        padding: 20px;
        border-radius: 20px;
        margin-right: 0%;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        text-align: center;
    }

    #btnperfil {

        width: 260px;
        display: flex;
        justify-content: center;
    }

    #btnchat {

        background-color: #88CEDD;
        width: fit-content;
        padding: 15px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 40px;
        bottom: 20px;
        animation: chatslide 2s ease forwards;
    }

    #btnchat img {

        width: 50px;
    }

    #main {

        display: block;
        margin-bottom: 60%;
    }

    footer {

        text-align: center;
        padding: 20px;
    }

    #logofooter {

        width: 60px;
        margin: 15px;
        margin-left: 0;
    }

    #contFooter {

        width: 900px;
        height: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 120%;
    }

    #pablo {

        background-color: white;
        height: 500vh;
        width: 1000px;
    }

    #btnperfil img {

        background-color: white;
        border-radius: 50%;
        padding: 10px;
        width: 100px;
        max-width: 60px;
        box-shadow: 2px 4px 0 #9B9B9B;
    }

    #btnopciones {
        display: none;
    }

    #ftFont {
        
        color: #0AF0AB;
    }
}

/*/ PCs con tremendo zoom /*/
@media screen and (max-width: 1412px) and (min-width: 1001px) {
    
    nav {

        width: 60%;
        justify-content: center;
    }

    nav ul {

        width: 250px;
        text-align: center;
    }

    nav ul li {

        border-bottom: 2px solid white;
    }


    #btnperfil img {

        width: 80px;
    }

    #btnperfil {

        padding: 8px;
    }
}

/* PCs con zoom extremo (para loco baja el zoom) */
@media screen and (max-width: 1000px) and (min-width: 801px) {
    
    nav {

        width: 60%;
        justify-content: center;
    }

    nav ul {

        width: 250px;
        text-align: center;
    }

    nav ul li {

        border-bottom: 2px solid white;
    }

    #btnperfil img {

        width: 80px;
    }

    #btnperfil {

        padding: 8px;
    }

    header #titulogo {

        display: none;
    }

    .contReservar {

        padding: 0;
    }
}

/*/ Tablets y Smart Phones anchos /*/
@media screen and (max-width: 800px) and (min-width: 401px) {

    header #imglogo {

        width: 120px;
        margin: 20px;
    }

    header #titulogo {

        display: none;
    }

    header ul, #btnperfil {

        display: none;
    }

    header {

        display: flex;
        justify-content: left;
        align-items: center;
        animation: headerfade 2s ease forwards;
    }


    header .contReservar {

        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    header .contReservar a {

        color: #88CEDD;
        text-decoration: none;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 15px;
    }

    header #opcionescontainer {

        width: 120px;
    }

    header #btnopciones {

        background-color: white;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding-right: 1.6%;
        padding-left: 1.6%;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
    }

    header #btnopciones img {

        width: 44px;
        height: 44px;
    }

    #contFooter {

        width: 400px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50%;
    }

    #logofooter {

        width: 20px;
        margin: 15px;
        margin-left: 0;
    }

    #pablo {

        background-color: white;
        height: 200vh;
        width: 800px;
    }

    #btnchat {

        background-color: #88CEDD;
        width: fit-content;
        padding: 15px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 40px;
        bottom: 20px;
        animation: chatslide 2s ease forwards;
    }

    #btnchat img {

        width: 50px;
    }

    footer {

        text-align: center;
        padding: 20px;
    }

    nav {

        display: flex;
        justify-content: right;
        width: 100%;
    }

    header #imglogo {

        width: 120px;
        margin: 20px;
    }

    header ul, #btnperfil {

        display: none;
    }

    header {

        display: flex;
        justify-content: left;
        align-items: center;
    }

    header .contReservar {

        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    header .contReservar a {

        color: #88CEDD;
        text-decoration: none;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 15px;
    }

    header #opcionescontainer {

        width: 120px;
    }

    header #btnopciones {

        background-color: white;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding-right: 1.6%;
        padding-left: 1.6%;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
    }

    header #btnopciones img {

        width: 44px;
        height: 44px;
    }

    #contFooter {

        width: 380px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50%;

    }

    #logofooter {

        width: 20px;
        margin: 15px;
        margin-left: 0;
    }

    #pablo {

        background-color: white;
        height: 800px;
        width: 400px;
    }

    #btnchat {

        background-color: #88CEDD;
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 20px;
        bottom: 20px;
    }

    #btnchat img {

        width: 35px;
    }

    footer {

        text-align: center;
        padding: 10px;
    }

    nav {

        display: flex;
        justify-content: right;
        width: 100%;
    }

    #ftFont {
        
        color: #0AF0AB;
    }
}

/*/ Smart Phones /*/
@media screen and (max-width: 400px) {

    header ul, #btnperfil {

        display: none;
    }

    header {

        display: flex;
        justify-content: left;
        align-items: center;
        animation: headerfade 2s ease forwards;
    }

    header #titulogo {

        display: none;
    }

    header #imglogo {

        width: 100px;
        margin: 20px;
    }


    header .contReservar {

        background-color: white;
        padding: 25px;
        border-radius: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        text-decoration: none;
    }

    header .contReservar a {

        color: #88CEDD;
        text-decoration: none;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 13px;
    }

    header #opcionescontainer {

        width: 120px;
    }

    header #btnopciones {

        background-color: white;
        width: 45px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
        padding-right: 1.6%;
        padding-left: 1.6%;
        margin-right: 20px;
        margin-left: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
    }

    header #btnopciones img {

        width: 30px;
        height: 30px;
    }

    footer {

        text-align: center;
        padding: 10px;
    }

    #contFooter {

        width: 320px;
        height: 48px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 42%;

    }

    #logofooter {

        width: 18px;
        margin: 10px;
        
    }

    #btnchat {

        background-color: #88CEDD;
        width: fit-content;
        padding: 10px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 20px;
        bottom: 20px;
        animation: chatslide 2s ease forwards;
    }

    #btnchat img {
        width: 35px;
    }

    #pablo {

        background-color: white;
        height: 100vh;
        width: 360px;
    }

    #ftFont {
        
        color: #0AF0AB;
    }
}

/* Animaciones */

@keyframes headerfade {
    
    from {

        opacity: 0;
    }
    to {

        opacity: 1;
    }
}

@keyframes chatslide {
    
    from {

        bottom: -50px;
    }
    to {

        bottom: 20px;
    }
}