@font-face {

    font-family: Huballi;
    src: url(../font/Hubballi-Regular.ttf);
}

@font-face {

    font-family: RobotoSerif;
    src: url(../font/Roboto_Serif/RobotoSerif-VariableFont_GRAD\,opsz\,wdth\,wght.ttf);
}

html, body, #container {

    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

header {

    background-color: #88CEDD;
    border-radius: 15px;
    margin: 10px;
    min-height: 100px;
    max-height: 150px;
}

nav ul {

    list-style: none;
}

nav ul li, #btnreservar {

    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}

nav ul li a {

    text-decoration: none;
}

footer {
    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    font-size: 35px;
}


@media screen and (min-width: 800px) {

    nav ul li, #btnreservar {
        display: inline-block;
        margin-right: 40px;
    }

    nav ul li a, #btnreservar {

        color: white;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 160%;
        display: inline;
    }

    header {

        box-shadow: 0 4px 0 #9B9B9B;
        display: flex;
        justify-content: left;
        align-items: center;
        min-width: 98%;
    }

    nav {

        display: flex;
        justify-content: right;
        width: 100%;
    }

    .contReservar {

        display: inline-flex;
    }

    header #imglogo {

        width: 200px;
        padding: 15px;
        display: inline-block;
    }

    header #logo {

        margin: 20px;
        width: fit-content;
        height: fit-content;
        display: inline-block;
    }

    #btnreservar {

        background-color: white;
        color: #88CEDD;
        padding: 20px;
        border-radius: 20px;
        margin-right: 0%;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
        text-align: center;
    }

    #btnperfil {

        width: 260px;
        display: flex;
        justify-content: center;
    }

    #btnchat {
        background-color: #88CEDD;
        width: fit-content;
        padding: 15px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 40px;
        bottom: 40px;
    }

    #btnchat img {

        width: 50px;
    }

    #main {

        display: block;
        margin-bottom: 60%;
    }

    footer {

        text-align: center;
        padding: 20px;
    }

    #logofooter {

        width: 60px;
        margin: 15px;
        margin-left: 0;
    }

    #contFooter {

        width: 900px;
        height: 100px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 120%;
    }

    #ftFont {
        color: #0AF0AB;
    }

    #pablo {

        background-color: white;
        height: 500vh;
        width: 1000px;
    }

    #btnperfil img {

        background-color: white;
        border-radius: 50%;
        padding: 10px;
        width: 100px;
        max-width: 60px;
        box-shadow: 2px 4px 0 #9B9B9B;
    }

    #btnopciones {
        display: none;
    }
}

@media screen and (min-width: 100px) and (max-width: 800px) {

    header #imglogo {

        width: 120px;
        margin: 20px;
    }

    header ul, #btnperfil {
        display: none;
    }

    header {

        display: flex;
        justify-content: left;
        align-items: center;
    }


    header .contReservar  {

        background-color: white;
        padding: 20px;
        border-radius: 20px;
        box-shadow: 4px 4px 0 #9B9B9B;
        padding-top: 20px;
        padding-bottom: 20px;
        text-decoration: none;
    }

    header .contReservar a {

        color: #88CEDD;
        text-decoration: none;
        text-shadow: 2px 1px 0 rgb(78, 78, 78);
        font-size: 15px;
    }

    header #opcionescontainer {

        width: 120px;
    }

    header #btnopciones {

        background-color: white;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        padding-right: 1.6%;
        padding-left: 1.6%;
        box-shadow: 4px 4px 0 #9B9B9B;
    }

    header #btnopciones img { 

        width: 44px;
        height: 44px;
    }

    #contFooter {

        width: 400px;
        height: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 15px;
        box-shadow: -4px -4px 5px #88CEDD, 4px 4px #9B9B9B;
    }

    #contFooter p {

        text-shadow: 1px 1px 0 #9B9B9B;
        font-family: Huballi, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 50%;

    }

    #logofooter {

        width: 20px;
        margin: 15px;
        margin-left: 0;
    }

    #pablo {

        background-color: white;
        height: 200vh;
        width: 1000px;
    }

    #btnchat {

        background-color: #88CEDD;
        width: fit-content;
        padding: 15px;
        border-radius: 50%;
        box-shadow: 2px 4px 0 #9B9B9B;
        position: fixed;
        right: 40px;
        bottom: 40px;
    }

    #btnchat img {

        width: 50px;
    }

    footer {

        text-align: center;
        padding: 20px;
    }

    nav {

        display: flex;
        justify-content: right;
        width: 100%;
    }
}