main {

    width: 100%;
}

#blkBienvenida {
    
    background-color: #7CB9E8;
    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blkBienvenida aside {

    border-radius: 0;
}

#blkBienvenida span {
    
    color: aqua;
    text-shadow: 2px 2px 1px #9B9B9B, 0 0 5px rgb(255, 183, 0);
}

#blkBienvenida p {

    font-size: 150%;
    color: white;
    text-shadow: 2px 2px 1px #9B9B9B;
}   

#seccarrusel {

    background-color: #7CB9E8;
}