main {

    width: 100%;
}

#blkBienvenida {

    background-color: #4294FF;
    font-family: RobotoSerif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#blkBienvenida p {

    font-size: 150%;
    color: white;
}

#carrusel img {

    height: 100%;
}
