.cont-mensaje-Popup {
    
    background-color: #43c6fd;
    border-radius: 10px;
    filter: brightness(0.85);
    width: 50%;
    height: 25%;
}

#div-mensaje-popup {

    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mensaje-Popup {

    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, .45);
}

.popup-contTitulo {

    background-color: #1679fa;
    border-radius: 10px 10px 0 0;
    padding: 5px;
    width: 100%;
}
.popup-contTitulo h1 {

    color: white;
}
.popup-contBtn {

    padding: 10px;
    background-color: #1679fa;
    border-radius: 0 0 10px 10px;
    width: 100%;
}
.popup-Contenido {

    background-color: #43c6fd;
    padding: 10px;  
    color: white !important;
}

.mensaje-Popup h1,h2 {

    margin: 0;
    padding: 0;
}
.btnCerrar {

    background-color: #0AF0AB;
    filter: brightness(1.1);
    border-color: transparent;
    border-radius: 10px;
    box-shadow: 2px 4px 1px rgba(0, 0, 0, .25);   
    transition-duration: .3s;
}

.btnCerrar:hover {

    scale: 1.05;
}
.btnCerrar:hover {

    color: white;
}
body {

    transition-duration: .5s;
}
body.blurry {

    filter: unset !important;
    overflow: hidden !important;
}