.volver {
  
    display: block;
    position: fixed;
    top: 3%;
    left: 6%;
    width: 64px;
    height: 64px;
    margin: 0;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    border: 0;
  }
  
  .volver:before,
  .volver:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 7px;
  }
  
  .volver:before {
    border: 4px solid #00B2FF;
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .volver:after {
    border: 4px solid #96daf0;
    transform: scale(1.3);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    opacity: 0;
  }
  
  .volver:hover:before,
  .volver:focus:before {
    opacity: 0;
    transform: scale(0.7);
    transition: opacity 0.4s cubic-bezier(0.165, 0.84, 0.44, 1),
      transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
  
  .volver:hover:after,
  .volver:focus:after {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.4s cubic-bezier(0.77, 0, 0.175, 1) 80ms,
      transform 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 80ms;
  }
  
  .volver-box {
    display: flex;
    position: absolute;
    top: 0;
  }
  
  .volver-elem {
    display: block;
    width: 32px;
    height: 32px;
    margin: 18px 16px 0 16px;
    transform: rotate(180deg);
    fill: #00B2FF;
  }
  
  .volver:hover .volver-box,
  .volver:focus .volver-box {
    transition: 0.4s;
    transform: translateX(-64px);
  }
  